__pycache__/
env/*
weights/*
datasets/dataset_salmon/*
datasets/dataset_val/*
datasets/img_preprocess/*
main_saved.py
*.pt
outputs/runs/*
outputs/log/*
outputs/runs/*
outputs/cache/*
outputs/gpu_usage/*
runs/*
*.mp4